{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Sarah's Portfolio</title>
    <link rel="stylesheet" href="{% static 'PortfolioDatabase/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a href="{% url 'portfolioApp:home'%}" class="navbar-brand">Sarah Bell</a>
  <div class="navbar">
    <a href="{% url 'portfolioApp:home'%}" class="nav-item nav-link text-info">Home</a>
    <a href="{% url 'portfolioApp:hobbies'%}" class="nav-item nav-link text-info">Hobbies</a>
    <a href="{% url 'portfolioApp:portfolio'%}" class="nav-item nav-link text-info">Portfolio</a>
    <a href="{% url 'portfolioApp:contact'%}" class="nav-item nav-link text-info">Contact</a>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>