{% extends 'portfolioApp/base.html' %}
{% block body %}
<div class="container py-5">
     <div class="row">
         <div class="col-12">
             {% if user.is_authenticated %}
             <h2 class="display-4">Portfolio
                <a class="btn btn-outline-success" href="{% url 'portfolioApp:create_portfolio_item' %}">Add Portfolio Item</a>
             </h2>
             {% else %}
              <h2 class="display-4">Portfolio</h2>
             {% endif %}
         </div>
         {% for portfolio_item in portfolio_list %}
        <div class="col-sm-6 col-md-4 col-lg-4 py-2">
            <div class="card h-100" style="width: 18rem;">
              <img src="{{ portfolio_item.portfolio_image }}" class="card-img-top img-fluid" alt="...">
                <div class="card-body bg-light">
                <h4 class="card-title">{{portfolio_item.portfolio_name}}</h4>
                </div>
                <div class="card-footer bg-info text-center detailContainer">
                    <a href="{% url 'portfolioApp:portfolio_details' portfolio_item.id %}" class="details text-white">See Details</a>
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
</div>
{% endblock %}
